REDIS_URL=redis://localhost:6379
PORT=3000
LEADERBOARD_PREFIX=rocket-rush:leaderboard
KEY_USERNAMES=rocket-rush:usernames
KEY_USERNAMES_REVERSE=rocket-rush:usernames:reverse
KEY_UUID_INDEX=rocket-rush:uuid:index
WS_TOPIC=leaderboard
